@import "variables.scss";

.about {
  margin: 0;
  padding: 0;
  padding-bottom: 49px;
}

.about__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
  padding: 0;
}

.about__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: $Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.about__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
}

.about__item {
  position: relative;
  display: block;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $base-green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--healthy::before {
    background-image: url("../img/icon-healthy.svg");
    background-size: 26px 28px;
  }

  &--dissolve::before {
    background-image: url("../img/icon-dissolve.svg");
    background-size: 30px 31px;
  }

  &--food::before {
    background-image: url("../img/icon-food.svg");
    background-size: 26px 30px;
  }

  &--time::before {
    background-image: url("../img/icon-time.svg");
    background-size: 33px 33px;
  }
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    width: $tablet-wrapper;
  }

  .about__title {
    font-size: 60px;
    line-height: 60px;
  }

  .about__list {
    grid-template-columns: 250px 250px;
    column-gap: 136px;
    row-gap: 37px;
    counter-reset: about-item;
  }
  .about__item {
    margin: 0;
    padding: 40px 0 57px 0;
    font-size: 16px;
    line-height: 24px;

    &::before {
      position: relative;
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }

    &--healthy::before {
      background-size: 30px 32px;
    }


    &::after {
      counter-increment: about-item;
      content: counter(about-item);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 114px;
      font-family: $Oswald;
      text-align: center;
      font-size: 280px;
      line-height: 280px;
      color: $base-grey;
    }
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    width: $desktop-wrapper;
  }
  .about__list {
    grid-template-columns: 250px 250px 250px 250px;
    column-gap: 73px;
  }
}
