@import "variables.scss";

.catalog-card {
  display: grid;
  grid-template-columns: 127px auto;
  gap: 13px;
  align-items: center;
}

.catalog-card__link {
  display: block;
  text-decoration: none;
  color: $very-dark-grey;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-card__image {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.catalog-card__title {
  display: block;
  width: 80px;
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-card__button {
  grid-area: 2 / 1 / 3 / 3;
}

@media (min-width: $tablet-width) {
  .catalog-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto auto;
    gap: 33px;
    margin: 0;
    padding: 5px 38px 39px 38px;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0) 81px, 81px, #f2f2f2);
  }

  .catalog-card__button {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 16px;
    line-height: 20px;
  }

  .catalog-card__title {
    width: 170px;
    margin: 0 auto 14px auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .catalog-card__features-item {
    border-bottom: 1px solid $medium-grey;
  }
}
