.catalog-card {
  display: grid;
  grid-template-columns: 127px auto;
  gap: 13px;
  align-items: center;
}

.catalog-card__link {
  display: block;
  text-decoration: none;
  color: #222222;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-card__image {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.catalog-card__title {
  display: block;
  width: 80px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-card__features {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog-card__button {
  grid-area: 2 / 1 / 3 / 3;
}
