@import "variables.scss";

.catalog-additional {
  position: relative;
  margin: 0;
  padding: 25px 0 35px 0;

  &::before {
    content: "";
    position: absolute;
    top: 42px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $base-green;
  }
}

.catalog-additional__wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
}

.catalog-additional__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 22px;
  font-family: $Oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-color: #ffffff;
  transform: translateX(-22px);
}


.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-additional__item {
  box-sizing: border-box;
  margin: 0;
  border-bottom: 1px solid $medium-grey;

  &:first-child {
    border-top: 1px solid $medium-grey;
  }
}

.catalog-additional__gift {
  box-sizing: border-box;
  margin: 0;
  margin-top: 35px;
  padding: 59px 0 43px 0;
  background:
    linear-gradient(rgba(104, 183, 56, 0.85) 10px, rgba(104, 183, 56, 0.85)),
    url("../img/catalog-gift-background.jpg") no-repeat;

  &::before {
    content: url("../img/icon-gift.svg");
    display: block;
    width: 78px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 48px;
    padding: 0;
  }
}

.catalog-additional__gift-text {
  display: block;
  width: 170px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}


@media (min-width: $tablet-width) {
  .catalog-additional {
    padding-top: 68px;
    padding-bottom: 76px;

    &::before {
      top: 93px;
    }
  }

  .catalog-additional__wrapper {
    width: $tablet-wrapper;
  }

  .catalog-additional__title {
    padding: 0 36px;
    font-size: 36px;
    line-height: 36px;
    transform: translateX(0);
  }

  .catalog-additional__gift {
    width: $tablet-wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 77px 60px 77px;
    background:
    linear-gradient(rgba(104, 183, 56, 0.85) 10px, rgba(104, 183, 56, 0.85)),
    url("../img/catalog-gift-background-tablet.jpg") no-repeat;

    &::before {
      margin: 0;
      width: 80px;
      height: 82px;
    }
  }

  .catalog-additional__gift-text {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__wrapper {
    width: $desktop-wrapper;
  }

  .catalog-additional__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-additional__list {
    flex-grow: 1;
    margin-right: 79px;
  }

  .catalog-additional__gift {
    display: block;
    box-sizing: border-box;
    width: auto;
    margin: 0;
    padding: 56px 40px 42px 40px;
    background:
    linear-gradient(rgba(104, 183, 56, 0.85) 10px, rgba(104, 183, 56, 0.85)),
    url("../img/catalog-gift-background-desktop.jpg") no-repeat;


    &::before {
      margin: 0 auto 46px auto;
    }
  }

  .catalog-additional__gift-text {
    width: 162px;
    text-align: center;
  }
}
