@import "variables.scss";

.feature-card {
  display: grid;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 0;
  background-color: $base-grey;
}

.feature-card__title {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding-left: 70px;
  font-family: $Oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -5px;

    display: block;
    top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  &--slim::before {
    left: 2px;
    width: 50px;
    height: 53px;
    background-image: url("../img/index-card-slim.svg");
    background-size: contain;
  }

  &--mass::before {
    left: -7px;
    width: 67px;
    height: 50px;
    background-image: url("../img/index-card-mass.svg");
    background-size: contain;
  }
}

.feature-card__description {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;

  border-bottom: 1px solid $light-grey;
}

.feature-card__link {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 22px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  &::after {
    content: url("../img/icon-arrow.svg");
    display: block;
    width: 32px;
    height: 12px;
    margin: 0;
    margin-left: 15px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) and (max-width: 1299px) {
  .feature-card {
    padding: 77px 30px 53px 52px;
    grid-template-columns: 340px auto;
    column-gap: 20px;

    &::after {
      content: "";
      display: block;
      align-self: center;
      justify-self: center;
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--slim::after {
      width: 200px;
      height: 211px;
      background-image: url("../img/index-card-slim.svg");
    }

    &--mass::after {
      width: 268px;
      height: 200px;
      background-image: url("../img/index-card-mass.svg");
    }
  }

  .feature-card__title {
    padding: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      display: none;
    }
  }

  .feature-card__description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: #000000;
  }

  .feature-card__link {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .feature-card {
    grid-template-columns: auto;
    padding: 77px 51px 32px 52px;
  }

  .feature-card__title {
    align-self: center;
    margin-bottom: 73px;
    padding-left: 159px;
    font-size: 36px;
    line-height: 36px;

    &--slim::before {
      left: 0;
      width: 100px;
      height: 100px;
    }

    &--mass::before {
      left: -19px;
      width: 134px;
      height: 100px;
    }
  }

  .feature-card__description {
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: #000000;
  }

  .feature-card__link {
    font-size: 20px;
    line-height: 30px;
  }
}

