@import "variables.scss";

.index-header {
  margin: 0;
  padding: 0;
  width: 100%;
  background:
    linear-gradient(rgba(104, 183, 56, 0.85) 302px, 302px, #ffffff),
    url("../../img/index-background-mobile.jpg") no-repeat,
    linear-gradient(#444444 302px, 302px, #ffffff);
  background-position: 50% 0;

  font-family: $Oswald;
  color: #ffffff;
}

.index-header__wrapper {
  display: grid;
  width: $mobile-wrapper;
  margin: 0 auto;
  padding-top: 27px;
}

.index-header__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.index-header__slogan {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.index-header__image {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  display: block;
}

.index-header__button {
  width: $mobile-wrapper;
}

@media (min-width: $tablet-width) {
  .index-header {
    background: none;
    color: #000000;
  }

  .index-header__wrapper {
    width: $tablet-wrapper;
    grid-template-columns: 87px 420px auto;
    row-gap: 40px;
  }

  .index-header__title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
  }

  .index-header__slogan {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 9px;
  }

  .index-header__image {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    width: 709px;
    height: 609px;
    transform: translateY(-29px);
  }

  .index-header__button {
    position: relative;
    z-index: 2;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 244px;
    height: 54px;
  }
}

@media (min-width: $desktop-width) {
  .index-header {
    position: relative;
    z-index: 0;
    margin-bottom: -59px;
    padding-top: 141px;
    padding-bottom: 54px;
    background: linear-gradient(to right, #ffffff 50%, 50%, rgba(104, 183, 56, 0.85)),
      url("../../img/index-background-desktop.jpg") 100% no-repeat,
      linear-gradient(to right, rgba(0, 0, 0, 0) 50%, 50%, #444444);
    background-size: contain;
    transform: translateY(-141px);
  }

  .index-header__wrapper {
    width: $desktop-wrapper;
    padding: 0 80px;
    grid-template-columns: 420px auto;
    row-gap: 40px;
  }

  .index-header__title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .index-header__slogan {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 9px;
  }

  .index-header__image {
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    width: 552px;
    height: 499px;
    transform: translateY(0);
  }

  .index-header__button {
    position: relative;
    z-index: 2;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 244px;
    height: 54px;
  }
}
