.page {
  min-width: 100vh;
  height: 100%;
  font-family: "Arial", sans-serif;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.page__header {
  margin: 0 auto;
}
