.product-feature {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
}

.product-feature__title {
  margin: 0;
  padding: 0;
}

.product-feature__value {
  margin: 0;
  padding: 0;
}
