.radio-control {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 45px;

  &:active {
    opacity: 0.3;
  }
}

.radio-control__mark {
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
  transform: translateY(-50%);

  .radio-control__input:checked + &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 13.5px;
    height: 13.5px;
    border-radius: 50%;
    background-color: #68b738;
    transform: translateX(-50%) translateY(-50%);
  }

  &:hover {
    border: 1px solid #bababa;
  }
}

