@import "variables.scss";

.range-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-slider__button {
  box-sizing: border-box;
  height: 30px;
  padding: 5px 0;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  color: #000000;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  &:active {
    opacity: 0.6;
  }
}

.range-slider__toggle-control {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 86px;
  height: 14px;

  background-color: #ffffff;
  border: 1px solid $medium-grey;
  border-radius: 6px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    display: block;
    width: 36px;
    height: 6px;
    background-color: $base-green;
    border-radius: 6px;
    transition: 0.4s;
  }
}

.range-slider__toggle:checked + .range-slider__toggle-control::before {
  transform: translateX(35px);
}
